@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  font-family: 'inter';
}

.ag-theme-alpine {
  font-family: 'inter', sans-serif; 
}
.ag-theme-alpine .ag-cell {
  font-size: 14px;
  font-weight: normal; 
}
.ag-theme-alpine .ag-header-cell-label {
  font-size: 12px; 
  font-weight: bold; 
}

.ag-root{
  border-radius: 8px;
  overflow: hidden; 
}
.ag-theme-alpine .ag-header-cell {
  background-color: white; /* Set header background color to white */
  border-bottom: 0px solid #ddd; /* Customize bottom border of the header */
}
.ag-theme-alpine .ag-cell {
  display: flex; /* Use flexbox to align content */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Optionally, center content horizontally */
  height: 100%; /* Ensure cell takes full height */
}
/* Header cell label text color */
.ag-theme-alpine .ag-header-cell-label {
  color: #333; /* Customize text color if needed */
}

/* Optional: Add border to the top of the rows to match header style */
.ag-theme-alpine .ag-row {
  border-top: 0px solid #ddd; /* Set border for rows */
}

.profile-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
}

.profile-image {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border-radius: 50%;
  margin-right: 8px; /* Space between image and text */
}

.profile-text {
  display: flex;
  align-items: center;
}
